/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/ltmain.sh
/missing
/stamp-h1
/COPYING
/INSTALL

Makefile.in
Makefile

*.log
*.trs
*~
*.o
.deps/

src/biopen
src/ptyterm
src/ptywrap
src/pbuf
